.ais-Hits-list {
    width: 90vw;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
}
.image-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    cursor: pointer;
}
.image-wrapper a {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.result-img {
    width: 50%;
    margin: 0 auto;
    justify-self: center;
    margin-bottom: 3rem;
    filter: drop-shadow(rgb(240, 240, 239) 32px 60px 20px);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.result-img:hover {
    transform: scale(0.9);
    filter: drop-shadow(16px 16px 20px rgb(240, 240, 239));
    transition: 0.2s ease-in-out;
}

.result-img-overlay {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.678);
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    cursor: pointer;
}

.ais-Hits-item {
    height: 100%;
    padding: 1.5rem;
    margin: 1rem 0;
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(240, 240, 239, 0.9);
    box-shadow: none;
    justify-self: center;
    transition: 0.2s ease-in-out;
}

.ais-Hits-item:hover {
    box-shadow: 4px 4px 20px rgba(240, 240, 239, 1);
    transition: 0.2s ease-in-out;
}

.hit-name {
    color: black;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem 0;
    display: flex;
}

.hit-infos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.hit-infos em {
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 0.2rem;
}

.hit-price {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.cross-price {
    text-decoration: line-through;
    font-size: 0.8rem;
    color: #c7c7c7;
}

.hit-description {
    color: black;
    font-family: "Roboto";
    font-weight: 100;
    font-style: italic;
    font-size: 0.8rem;
    margin: 1rem auto;
}

.hit-colors {
    font-size: 0.8rem;
    font-style: italic;
}

.ais-Highlight-highlighted {
    background-color: rgb(240, 240, 239);
}

/* COLOR CODE */

.colorWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hit-colorsHex {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(240, 240, 239, 0.9);
    margin-top: 1rem;
}

/* SIZE FILTER HOVER */

.hit-sizeFilter {
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}
.hit-sizeFilter p {
    font-size: 0.8rem;
    font-family: "Roboto";
    color: black;
    font-weight: bold;
}
.hit-sizeFilter span {
    font-size: 0.8rem;
    font-family: "Roboto";
    color: black;
    font-weight: medium;
    font-style: italic;
}

.hit-addToCart {
    opacity: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 0;
    align-items: center;
    width: 100%;
    height: 4rem;
    color: black;
}
.hit-addToCart i {
    font-size: 1.2rem;
    cursor: pointer;
}

.fadeInSize {
    animation: fadeInSize 0.5s forwards;
}
.fadeOutSize {
    animation: fadeOutSize 0.1s forwards;
}

.injectImg {
    max-width: 60%;
    max-height: 80%;
    display: block;
    padding: 1rem;
    margin: 0 auto;
    object-fit: scale-down;
    filter: saturate(0.5);
    transition: 0.2s ease-in-out;
}

.injectImg:hover {
    transform: scale(1.1);
    filter: saturate(0.8);
    transition: 0.2s ease-in-out;
}

.btn-injection-content-wrapper {
    margin: 1rem auto;
}
.btn-injection-content {
    padding: 0.6rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 1;
    font-family: "Roboto";
    color: black;
    align-self: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-injection-content:hover {
    background-color: rgb(17, 17, 17);
    color: white;
    transition: 0.3s ease-in-out;
}

.badgeWrapper {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    width: 15%;
    transition: transform 0.2s ease-in-out;
    z-index: 10;
}

.badge {
    color: black;
    font-family: "Roboto";
    font-weight: bold;
    border-radius: 1px;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    justify-content: center;
    display: flex;
}

.badgeOff {
    background-color: rgba(179, 30, 30, 0.6);
}
.badgeEco {
    background-color: rgba(1, 158, 1, 0.6);
}

.scaleDown {
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;
}

/* SELECT SORT-BY */

.ais-SortBy-select {
    padding: 0.6rem 3rem 0.6rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-family: "Roboto";
    color: black;
    align-self: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 0;
}

/* POPUP EVENT  */

.popUp-wrapper {
    display: flex;
    flex-direction: row;
}

.popUpEventClick {
    position: fixed;
    top: calc(100% - 5rem);
    left: calc(0vw + 2rem);
    background-color: rgba(99, 175, 84, 0.76);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    z-index: 500;
    animation: disapear 6s forwards;
    font-family: "Roboto";
    box-sizing: border-box;
}
.popUpEventCart {
    position: fixed;
    top: calc(100% - 9rem);
    left: calc(0vw + 2rem);
    background-color: rgba(230, 196, 0, 0.699);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    z-index: 500;
    animation: disapear 6s forwards;
    font-family: "Roboto";
    box-sizing: border-box;
}

/* MEDIA QUERIES / BREAKPOINTS */

@media screen and (max-width: 1400px) {
    .badgeWrapper {
        width: 30%;
    }
}
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden !important;
    }
    .ais-Hits-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 560px) {
    body {
        overflow-x: hidden !important;
    }
    .ais-Hits-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .ais-Stats-text {
        font-size: 0.8rem;
    }
    .btn-filter {
        padding: 0.2rem 1rem;
    }
}
@media screen and (max-width: 380px) {
    .badgeWrapper {
        top: 2rem;
        right: 4rem;
        width: 30%;
    }
}

/* ANIMATION SIZE HOVER */

@keyframes fadeInSize {
    0% {
        visibility: hidden;
        transform: translateY(4rem) scale(1);
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0rem) scale(1.1);
    }
}
@keyframes fadeOutSize {
    0% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0rem) scale(1.1);
    }
    100% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(4rem) scale(1);
    }
}

@keyframes disapear {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
        transform: translateY(0rem);
    }
    75% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(2rem);
        opacity: 0;
        visibility: hidden;
    }
}
