// Upload Selector
.nav-list{
  li{
    label{
      padding: 1rem;
      font-size: 0.8rem;
      color: black;
      position: relative;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.opacity-instantsearch{
  opacity: 0.2;
}