@import "./searchboxHeader.css";
@import "./filters.css";
@import "./searchBoxResults.css";
@import "./modalRelatedItems.css";
@import "./guidedNavigation.css";
@import "./dynamicBanner.css";
@import "./autocomplete.css";
@import "./pagination.css";
/* @import "../../carouselDetailed.css"; */
/* @import "../../app.css"; */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

ul, li {
    list-style: none;
  }

.body-wrapper{
    overflow-x: hidden;
    position: relative
}