@import './carousel.css';
@import '../../SearchResultPage/css/searchboxHeader.css';
@import '../../Homepage/css/headerMenu.css';
@import '../../SearchResultPage/css/pagination.css';

/* Demo Settings */
.labelDemoSettings {
  position: fixed;
  top: 3.5vh;
  left: 10px;
  width: 40px;
  height: 30px;
  /* background-color: white; */
  z-index: 16;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.labelDemoSettings p {
  writing-mode: vertical-rl;
  margin-left: 20px;
  text-orientation: sideways-right;
  font-size: 0.8rem;
  font-style: italic;
}

.containerSettings {
  display: flex;
}

.settingsDrawer {
  height: 100vh;
  width: 0px;
  z-index: 111;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: #dce1e3;
  /* transition: width 0.3s; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  visibility: hidden;
}

.settingBox {
  padding: 20px;
  /* height: 15vh; */
  text-align: left;
}

.settingBox-title {
  padding: 5px 0px;
  font-size: 22px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

.settingBox-content {
  margin-top: 10px;
  display: flex;
}

.settingBox-content span {
  display: flex;
  border: 1px solid black;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.4s;
  font-family: Roboto;
}

.settingBox-content:hover span {
  border: 1px solid white;
  color: #fff;
  background-color: black;
  padding: 10px 15px;
}

.openSettingDrawer {
  width: 300px;
  visibility: initial;
}

.moveLabelSettings {
  left: 300px;
}
