@import "./carouselDetailed.scss";
@import "./headerMenu.scss";
@import "./autocomplete.scss";
@import "./modalProduct.scss";

/* GENERAL STYLE */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

.body-wrapper {
  overflow-x: hidden;
  position: relative;
}

/* CAROUSEL IMAGE GLIDEJS */
.glide__slides {
  padding: 0;
}
.banner-carousel {
  max-height: 70vh;
  overflow-y: hidden;
}
.banner-carousel-img1 {
  width: 100%;
  object-fit: contain;
  object-position: 0px -18rem;
}
.banner-carousel-img2 {
  width: 100%;
  object-fit: contain;
  object-position: 0px -15rem;
}

/* CAROUSEL PRODUCT */

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
  overflow-x: hidden;
}

.carousel h2 {
  margin: 0rem 2rem;
  color: #161616;
  position: relative;
  font-size: 2rem;
  z-index: auto;
  align-self: center;
}

.carousel .carousel-list-container {
  flex-wrap: nowrap !important;
  display: -webkit-box !important;
  overflow-x: scroll !important;
  padding: 2rem;
  list-style-type: none;
}

.title-carousel-winter {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.btn-carousel-winter {
  padding: 0.6rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1;
  font-family: "Roboto";
  color: black;
  align-self: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn-carousel-winter:hover {
  background-color: rgb(17, 17, 17);
  color: white;
  transition: 0.3s ease-in-out;
}

/* HORIZONTAL SCROLLBAR */

.carousel .carousel-list-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.carousel .carousel-list-container::-webkit-scrollbar:horizontal {
  height: 4px;
}

.carousel .carousel-list-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.9);
}
.carousel .carousel-list-container::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

.carousel .carousel-list-container li {
  min-height: 450px;
  padding: 1.5rem;
  margin: auto 1rem;
  width: 380px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(240, 240, 239, 0.9);
  transition: 0.2s ease-in-out;
}
.carousel .carousel-list-container li:hover {
  box-shadow: 4px 4px 20px rgba(240, 240, 239, 1);
  transition: 0.2s ease-in-out;
}

.carousel .carousel-list-container li .title {
  text-align: center;

  font-family: "Roboto";

  font-weight: 500;
  font-size: 0.8rem;
}

.carousel .carousel-list-container .image-wrapper {
  max-width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  cursor: pointer;
}

.carousel .carousel-list-container li img {
  width: 70%;
  object-fit: contain;
  align-self: center;
  margin: 1rem auto;
  filter: drop-shadow(rgb(240, 240, 239) 32px 60px 20px);
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

  transition: 0.5s ease-in-out;
}
.carousel .carousel-list-container li img:hover {
  transform: scale(1.1);
  filter: drop-shadow(16px 16px 20px rgb(240, 240, 239));
  transition: 0.2s ease-in-out;
}

/* STAT */
.ais-Stats {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  color: black;
  float: right;
}

/* USER PERSONA SELECTOR */

.labelUserPersonna {
  position: fixed;
  top: 20vh;
  left: -1rem;
  width: 40px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(240, 240, 239, 0.5);
  z-index: 16;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 2s infinite;
  cursor: pointer;
}

.labelUserPersonna p {
  writing-mode: vertical-rl;
  margin-left: 20px;
  text-orientation: sideways-right;
  font-size: 0.8rem;
  font-family: "Castoro", serif;
  font-style: italic;
}

.userPersonaSelector {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  color: black;
  width: 200px;
  padding: 1rem;
  text-align: center;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  position: fixed;
  top: 20vh;
  left: 0;
  z-index: 15;
}

.closePersona {
  cursor: pointer;
  position: absolute;
  top: 0.1rem;
  right: 0.8rem;
}

.userPersonaSelector p {
  color: black;
  font-size: 0.8rem;
  font-style: italic;
  font-family: "Castoro", serif;
}
.userPersonaSelector select {
  background-color: rgb(246, 245, 243);
  border: none;
  padding: 0.6rem;
  padding-left: 3rem;
  border-radius: 5px;
  font-family: "Castoro", serif;
}

.personaFadeIn {
  animation: personaIn 0.8s forwards;
}
.personaFadeOut {
  animation: personaOut 0.8s forwards;
}

.img-overlay {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.678);
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  cursor: pointer;
  transform: translate3d(0, -2rem, 0rem);
}

.hit-addToCart {
  opacity: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
  right: 50%;
  transform: translate(50%, -50%);
  align-items: center;
  width: fit-content;
  height: 4rem;
  color: black;
}
.hit-addToCart i {
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 501;
}

/* POPUP EVENT  */

.popUp-wrapper {
  display: flex;
  flex-direction: row;
}

.popUpEventClick {
  position: fixed;
  top: calc(100% - 5rem);
  left: calc(0vw + 2rem);
  background-color: rgba(99, 175, 84, 0.76);
  color: white;
  padding: 1rem;
  border-radius: 5px;
  z-index: 500;
  animation: disapear 6s forwards;
  font-family: "Roboto";
  box-sizing: border-box;
}
.popUpEventCart {
  position: fixed;
  top: calc(100% - 9rem);
  left: calc(0vw + 2rem);
  background-color: rgba(230, 196, 0, 0.699);
  color: white;
  padding: 1rem;
  border-radius: 5px;
  z-index: 500;
  animation: disapear 6s forwards;
  font-family: "Roboto";
  box-sizing: border-box;
}

.fadeInSize {
  animation: fadeInSize 0.5s forwards;
}
.fadeOutSize {
  animation: fadeOutSize 0.1s forwards;
}

.revealCarousel {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
}

.transition-wipe {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(317deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  left: -100%;
}

/* ANIMATIONS */

@keyframes personaIn {
  0% {
    visibility: hidden;
    transform: translateX(-100%);
  }
  100% {
    visibility: visible;
    transform: translateX(0%);
  }
}
@keyframes personaOut {
  0% {
    visibility: visible;
    transform: translateX(0%);
  }
  100% {
    visibility: hidden;
    transform: translateX(-100%);
  }
}
@keyframes bounce {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes fadeInSize {
  0% {
    visibility: hidden;
    transform: translateY(4rem) scale(1);
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem) scale(1.1);
  }
}
@keyframes fadeOutSize {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem) scale(1.1);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(4rem) scale(1);
  }
}

@keyframes disapear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    transform: translateY(0rem);
  }
  75% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(2rem);
    opacity: 0;
    /* visibility: hidden; */
  }
}
