
.uploadImage{
  position: absolute;
  top: 53%;
  left: 1rem;
  transform: translate(0%,-50%);
  z-index: 99;
  cursor: pointer;
  input{
    display: none;
    cursor: pointer;
    
  }

  svg{
    width: 18px;
    cursor: pointer;
  }
}


// Upload Selector
.nav-list{
  li{
    label{
      padding: 1rem;
      font-size: 0.8rem;
      color: black;
      position: relative;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

